### Le LISTE

In [12]:
lista_numeri = [7,11,9,17]
lista_nomi = ['Ronaldo','Zlatan','Lukaku']
lista_mista = [11,'Zlatan',1.95,True]

list è un tipo, quindi nulla vieta ad un oggetto di tipo list di essere un elemento di una lista:

In [13]:
lista_liste = [11,'Zlatan',[1.95, 95]] # Lista ANNIDATA
lista_vuota = []

In [14]:
lista_nomi = ['Ronaldo','Zlatan','Lukaku','Immobile','Belotti','Dzeko']
lista_nomi[1] # ricorda che py parte da 0 i conteggi
lista_nomi[0:3] # slice contenente i primi 3 elemnti della lista

['Ronaldo', 'Zlatan', 'Lukaku']

posso usare una lista come sequenza su cui costruire un loop for:

In [15]:
for bomber in lista_nomi:
    print(bomber)

Ronaldo
Zlatan
Lukaku
Immobile
Belotti
Dzeko

In [18]:
# Per MODIFICARE le liste

lista_numeri = [7,11,9,17]
lista_numeri[2]= 99  # questa cosa non laposso fare con le stringhe!!
lista_numeri

lista_lettere = ['P','E','N','N','A','R','E','L','L','O']
lista_lettere[0:5] = ['M','A','T','T','A']
lista_lettere

['M', 'A', 'T', 'T', 'A', 'R', 'E', 'L', 'L', 'O']

In [19]:
# oppure possiamo anche cancellare elementi di una lista con questo trucco
lista_lettere[0:5] = []
lista_lettere

['R', 'E', 'L', 'L', 'O']

 Operazioni con le LISTE

In [20]:
# UNIRE 2 liste

tartarughe = ['Raffaello','Donatello']
nuove_tartarughe = ['Michelangelo', 'Donatello']
tartarughe + nuove_tartarughe

['Raffaello', 'Donatello', 'Michelangelo', 'Donatello']

In [21]:
# ripetere gli elementi di una lista

tartarughe * 3

['Raffaello', 'Donatello', 'Raffaello', 'Donatello', 'Raffaello', 'Donatello']

In [22]:
# Per CANCELLARE posso usare la keyword del che è molto piu comoda
tartarughe = ['Raffaello','Donatello','Michelangelo']
del tartarughe[2]
tartarughe

['Raffaello', 'Donatello']

anche il tipo list fornisce una serie di metodi e attributi utili, come append() che consente di appendere un elemento in fondo ad una lista.

In [23]:
tartarughe = ['Raffaello','Donatello','Michelangelo']
tartarughe.append('Leonardo')
tartarughe

['Raffaello', 'Donatello', 'Michelangelo', 'Leonardo']

In [25]:
# INSERT
tartarughe = ['Raffaello','Donatello','Michelangelo']
tartarughe.insert(0, 'Pippo') # inserisco all'indice 0 Pippo
tartarughe

['Pippo', 'Raffaello', 'Donatello', 'Michelangelo']

In [26]:
# COUNT()  per contare quante volte appare un elemento

tartarughe = ['Raffaello','Donatello','Michelangelo']
tartarughe.count('Raffaello')

1

In [28]:
# EXTEND() 

tartarughe.extend('Mario')
tartarughe

['Raffaello',
 'Donatello',
 'Michelangelo',
 'M',
 'a',
 'r',
 'i',
 'o',
 'M',
 'a',
 'r',
 'i',
 'o']

In [29]:
# INDEX()

tartarughe.index('Donatello') # a che indice si trova Donatello?

# SORT() per ordinare la lista
# REMOVE() per togliere elementi (input metto la stringa)

1

### Le TUPLE

utilizzate per raggruppare insieme di informazioni in qualche modo correlate fra loro.

A differenza delle liste, le tuple sono IMMUTABILI, come per le str, non possimao modificare un'istanza di tipo tuple una volta che è stata creata!

Per convenzione si creano con le parentesi (anche se non servirebbero)

In [34]:
ibra = ('Zlatan', 'Ibrahimovic', 11, 'MIlan', 1.95, 95, 'Attaccante')
ibra[2] = 10 # non lo posso fare

TypeError: 'tuple' object does not support item assignment

TUPLE ASSIGNMENT ci consente di assegnare una tupla di variabili (lvalue)  a una Tupla di valori (rvalue)

In [33]:
tupla_test = (11,)
type(tupla_test)

tuple

In [35]:
ibra = ('Zlatan', 'Ibrahimovic', 11, 'MIlan', 1.95, 95, 'Attaccante')  # Tupla di valori
(nnome, cognome, numero, squadra, altezza, peso, ruolo) = ibra  # Tupla di variabili

print(nnome, cognome, numero, squadra, altezza, peso, ruolo)

Zlatan Ibrahimovic 11 MIlan 1.95 95 Attaccante

Le Tuple sono utili perchè ci permettono di ritornare piu cose da una funzione!

In [36]:
def add_and_diff(a,b):
    sum_result = a + b
    diff_result = a - b
    tuple_result = (sum_result, diff_result) # creo tupla
    return tuple_result

(somma, differenza) = add_and_diff(6, 4) # assegno le variabili alla tupla
print(somma)
print(differenza)

10
2

## SET

un **set** è una collezione di elementi non ordinata. A differenza di liste e tuole, ogni elemento del set deve essere **unico** e **non modificabile**.

Tuttavia l'oggetto di tipo set è modficiabile.

Un oggetto di tipo set si definisce racchiudendo gli eelemnti che lo compongono tra parentesi graffe {}, separati da , , oppure posso creare la funzione built-in set().

In [37]:
set_numeri = {7,11,9,17} # Ogni elemento deve esssere UNICO e NON MODIFICABILE
# il set è una collezione non ordinata, il che signiica che NON possiamo fare affidamento sull'indicizzazione degli elementi
set_numeri[1]  # NON funziona!!

TypeError: 'set' object is not subscriptable

possiamo usare i metodi add(), update(), discard(), remove() per aggiungere e rimuovere elementi.

In [41]:
# ADD()

set_numeri = {7,11,9}
print(set_numeri)
set_numeri.add(17)  # con add posso aggiungere 1 elemnto
print(set_numeri)

{9, 11, 7}
{9, 11, 17, 7}

In [42]:
# UPDATE()
set_numeri.update([90, 99, 99]) # posso aggiungere piu elemente, obv toglie quelli che si ripetono!
print(set_numeri)

{99, 7, 9, 11, 17, 90}

In [43]:
# DISCARD e REMOVE fanno la stessa cosa
set_numeri.remove(99)
print(set_numeri)
# la differenza sta che con discard se vuoi rimuovere un elemento che NOn c'è NON ti dà errore mentre remove ti da errore!

{7, 9, 11, 17, 90}

i set si rivelano molto utili nell'effetuare operazionie matematiche su INSIEMI: UNONE, INTERSEZIONE, DIFFERENZA è DIFFERENZA SIMMETRICA

In [44]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

# UNIONE
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [46]:
# INTERSEZIONE 
A & B

{4, 5}

In [47]:
# DIFFERENZA
A - B

{1, 2, 3}

In [48]:
# DIFFERENZA SIMMETRICA
A ^ B

{1, 2, 3, 6, 7, 8}

## I DIZIONARI

Finora escludendo i SET, abbiamo sempre parlato di ***sequenze***: tipi composti che permettono di accedere ai singoli elementi che li compongono tramite indici interi.

I dizionari rappresentano un TIPO COMPOSTO. Non fa altro che mappare una serie di CHIAVI (Solitamente stringhe) ai relativi VALORI (qualcunque tipo).

Quindi ogni elemento è una coppia CHIAVE-VALORE:

In [2]:
inventario = {'banane': 7, 'lamponi': 11}

Accediamo ai valori quindi NON per indice ma per CHIAVE!

In [3]:
inventario['banane']

7

In [4]:
# posso aggiungere cose:
inventario['mele']= 12
print(inventario)

{'banane': 7, 'lamponi': 11, 'mele': 12}

In [5]:
#posso anche riassegnare un nuovo valore a una chiave gia essistente:
inventario['banane']= 14
inventario['lamponi']= 'esaurito'
print(inventario)

{'banane': 14, 'lamponi': 'esaurito', 'mele': 12}

Anche il tipo **Dict** ha i suoi metodi e attributi. un metodo indispensabile è keys()

In [6]:
inventario.keys() # ottengo un oggetto di tipo view che mi mostra quali sono le chiavi, e possimao usarlo nei LOOP!!!!!

dict_keys(['banane', 'lamponi', 'mele'])

## LIST comprehension, SET comprehension e DICT comprehension

Python fornisce una sintassi compatta per generare liste, set e dizionari a partire da sequenze di valori:

ad esempio per costruire   

lista_numeri = [0,1,2,3,4,5,6,7,8,9] 

si può fare:

In [7]:
lista_numeri = []
for i in range(10):
    lista_numeri.append(i)
print(lista_numeri)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

o ancora meglio con le list comprehension:

In [8]:
lista_numeri = [ i for i in range(10)]
print(lista_numeri)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
# set comprehension
set_numeri = { i for i in range(10)}
set_numeri

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
# dict comprehension
dict_numeri = { i: i*i for i in range(10)}
dict_numeri

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

ATTENZIONE: la tuple comprehension NON ESISTE.

Un oggeto del tipo ( i for i in range(10)) si chiama GENERATOR ed è un'altra cosa